<launch>
    <!-- 设置无人机型号 -->
    <env name="PX4_SIM_MODEL" value="iris" />
    
    <!-- XTDrone 的 PX4 启动配置 -->
    <!-- <include file="/home/demo/PX4_Firmware/launch/multi_uav_mavros_sitl.launch"> -->
    <include file="/home/demo/PX4_Firmware/launch/indoor1.launch">
        <arg name="world" value="$(find ship_painter)/worlds/ship.world"/>
        <!-- 使用标准模型路径 -->
        <!-- <arg name="vehicle" value="iris"/> -->
    </include>

    <!-- 加载船体模型 -->
    <!-- <node name="spawn_ship" pkg="gazebo_ros" type="spawn_model" 
        args="-sdf -file $(find ship_painter)/models/ship_model.stl -model ship -x 0 -y 0 -z 0" /> -->

    <node name="spawn_box" pkg="gazebo_ros" type="spawn_model" 
      args="-sdf -file $(find ship_painter)/models/test.sdf -model test -x 5 -y 7.5 -z 0.25" 
      output="screen"/>
    
</launch>
