<launch>   
    <!-- 仿真世界参数 -->
    <arg name="world" default="$(find ship_painter)/worlds/ship.world"/>
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
  
    <!-- 无人机参数 -->
    <arg name="vehicle" default="iris_0"/>
    <arg name="ID" default="0"/>
    <arg name="fcu_url" default="udp://::24540@localhost:34580"/> <!--udp协议，仿真/wifi用-->
    
    <!-- 无人机初始位置 -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.1"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    
    <!-- 船体模型位置参数 -->
    <arg name="ship_x" default="0"/>
    <arg name="ship_y" default="5"/>
    <arg name="ship_z" default="0.25"/>
    
   
    <!-- 设置无人机型号 -->
    <env name="PX4_SIM_MODEL" value="iris"/>
    
    <!-- 添加模型路径到Gazebo环境变量 -->
    <env name="GAZEBO_MODEL_PATH" value="$(find ship_painter)/models:$(find mavlink_sitl_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)"/>
    <env name="GAZEBO_PLUGIN_PATH" value="$(find mavlink_sitl_gazebo)/build:$(optenv GAZEBO_PLUGIN_PATH)"/>

    <!--启动gazebo-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>
      
    <!-- 启动 PX4 SITL -->
    <include file="$(find px4)/launch/posix_sitl.launch">
        <arg name="vehicle" value="iris"/> 
        <arg name="ID" value="$(arg ID)"/>
    </include>
    
    <!-- 启动 MAVROS -->
    <include file="$(find mavros)/launch/node.launch">
        <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml"/>
        <arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml"/>
        <arg name="fcu_url" value="$(arg fcu_url)"/>
        <arg name="gcs_url" value=""/>
        <arg name="tgt_system" value="1"/>
        <arg name="tgt_component" value="1"/>
        <arg name="log_output" value="screen"/>
        <arg name="fcu_protocol" value="v2.0"/>
        <arg name="respawn_mavros" value="false"/>
    </include>
    
    
    <!--无人机模型加载-->  
    <node name="$(arg vehicle)_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-sdf -file $(find mavlink_sitl_gazebo)/models/iris/iris.sdf 
                -model $(arg vehicle) 
                -x $(arg x) 
                -y $(arg y) 
                -z $(arg z) 
                -R $(arg R) 
                -P $(arg P) 
                -Y $(arg Y)">
    </node>

    <!--船体模型加载-->
    <node name="spawn_ship" pkg="gazebo_ros" type="spawn_model" 
          args="-sdf -file $(find ship_painter)/models/test.sdf -model boat1 
                -x $(arg ship_x) 
                -y $(arg ship_y) 
                -z $(arg ship_z)" 
          launch-prefix="bash -c 'sleep 5; $0 $@' " 
          output="screen">
        <!-- 输出生成位置信息 -->
        <param name="model_x" value="$(arg ship_x)"/>
        <param name="model_y" value="$(arg ship_y)"/>
        <param name="model_z" value="$(arg ship_z)"/>
    </node>

    <!-- 将模型位置保存到参数服务器,供其他节点使用 -->
    <param name="/ship_model/x" value="$(arg ship_x)"/>
    <param name="/ship_model/y" value="$(arg ship_y)"/>
    <param name="/ship_model/z" value="$(arg ship_z)"/>
    
</launch>
