<launch>
    <!-- 真机MAVROS连接，单独启动，供其它任务launch复用 -->
    <!-- 真机测试,通过WiFi连接Pixhawk,ESP8266配置：IP 192.168.4.1, Port 14550； raspberry pi：ACM0 --> 

    <!-- WiFi连接参数 -->
    <!-- <arg name="fcu_url" default="udp://:14550@192.168.4.1:14550"/> -->

    <!-- 机载电脑连接参数 -->
    <arg name="fcu_url" default="/dev/ttyACM0:921600"/>

    <!--启动MAVROS-->
    <include file="$(find mavros)/launch/px4.launch">
        <arg name="fcu_url" value="$(arg fcu_url)"/>
        <arg name="gcs_url" value="udp-b://@"/><!--让 MAVROS 在局域网内直接广播-->
        <arg name="tgt_system" value="1"/>
        <arg name="tgt_component" value="1"/>
    </include>

</launch>